body {
	background: #c4c4c4;
}
main, header, footer {
	min-width: 855px;
}
header.container, main.container, footer.container {
	width: 855px;
	margin: auto;
}

header {
	background: white;
}
main{
	background: white;
}