body {
	background: #c4c4c4;
}
main, header, footer {
	
}
.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}
.tabs a span.active {
	background: #eee;
}

header .container, main .container, footer .container {
	
	margin: 16px;
}
a{
	font-family: Roboto;
	font-size: 16px;
	color: red;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
.main-text-container{
	float: left;
	width: 570px;
	margin: 16px;
}
.img-lamp{
	float: right;
	margin: 16px;
}
.contact{
	float: left;
	width: 570px;
	margin: 16px;
	font-family: Roboto;
	font-size: 16px;
}
.sitemap{
	float: right;
	width: 285px;
	margin: 16px;
	font-family: Roboto;
	font-size: 16px;
}
header h1{
	float: left;
	width: 570px;
	font-family: Ubuntu;
	font-size: 24px;
}
header nav {
	float: right;
	width: 285px;
}

header {
	background: white;
	overflow: hidden;
}
main{
	background: white;
	overflow: hidden;
	font-family: Roboto;
	font-size: 16px;
}